<div class="in_this_article_main">
    <h3>In this Article:</h3>
    <div class="in_article_content">
        <ul>
        {% for a in in_this %}
            <li><a href="{{ a.url }}"><p>{{ a.title }}</p></a></li>
        {% endfor %}
        </ul>
    </div>
</div>