<div class="in_this_article_main">
    <h3>In this Article:</h3>
    <div class="in_article_content">
        {% for a in in_this %}
            {{ a.title }}
        {% endfor %}
    </div>
</div>