{% assign current_article = article %}
{% assign related_count = 0 %}

<h3>Related Posts</h3>
<ul>
  {% for related_article in blog.articles %}
    {% if related_article.id != current_article.id and related_count < 3 %}
      <li>
        <a href="{{ related_article.url }}">{{ related_article.title }}</a>
      </li>
      {% assign related_count = related_count | plus: 1 %}
    {% endif %}
  {% endfor %}
</ul>