{% assign related_articles = "" %}

{% for article_tag in article.tags %}
  {% for related in blog.articles %}
    {% if related.id != article.id and related.tags contains article_tag %}
      {% unless related_articles contains related.handle %}
        {% assign related_articles = related_articles | append: related.handle | append: "," %}
      {% endunless %}
    {% endif %}
  {% endfor %}
{% endfor %}

{% assign related_list = related_articles | split: "," %}

{% if related_list.size > 1 %}
  <div class="related-articles">
    <h3>Related Articles</h3>
    <ul>
     {% for related in blog.articles %}
  {% if related_list contains related.handle and related.id != article.id %}
    <li>
      <a href="{{ related.url }}">{{ related.title }}</a>
    </li>
    {% assign count = count | plus: 1 %}
    {% if count == 4 %}
      {% break %}
    {% endif %}
  {% endif %}
{% endfor %}
    </ul>
  </div>
{% endif %}
