{% assign current_article = article %}
{% assign related_articles = "" %}

{% for a in blog.articles %}
  {% if a.id != current_article.id %}
    {% assign common_tags = a.tags | where: "value", current_article.tags %}
    {% if a.tags | join: ',' | downcase contains current_article.tags.first | downcase %}
      {% assign related_articles = related_articles | append: a.handle | append: "," %}
    {% endif %}
  {% endif %}
{% endfor %}

{% assign related_list = related_articles | split: "," | uniq %}

{% if related_list.size > 0 %}
  <div class="related-articles">
    <h3>Related Articles</h3>
    <ul>
      {% for a in blog.articles %}
        {% if related_list contains a.handle %}
          <li>
            <a href="{{ a.url }}">{{ a.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
{% else %}
  <p>No related articles found.</p>
{% endif %}
