<header class="header-landing header-align-{{ section.settings.logo_alignment }}">
  <div class="header-inner">

    {%- if section.settings.header_image != blank -%}
      <div class="header-logo">
        <a href="/">
          <img src="{{ section.settings.header_image | image_url: width: 300 }}" loading="lazy" >
        </a>
      </div>
    {%- endif -%}
  </div>
</header>
<style>
    .header-landing{background:#333;}
</style>

{% schema %}
{
  "name": "Header Landing",
  "settings": [
    {
      "type": "image_picker",
      "id": "header_image",
      "label": "Header Logo"
    },
    {
      "type": "select",
      "id": "logo_alignment",
      "label": "Logo alignment",
      "default": "left",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "center", "label": "Center" },
        { "value": "right", "label": "Right" }
      ]
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Header menu"
    }
  ],
  "presets": [
    {
      "name": "Header Landing",
      "category": "header"
    }
  ]
}
{% endschema %}
