
<div class="last-coat-slider">
    <div class="heading_main">
        {% if section.settings.heading  != blank %}  <h2>{{ section.settings.heading }}</h2> {% endif %}
    </div>
    <div class="slider__content">
        {% assign slider_block = section.blocks | where:  "type","slide" %}
        {% for block in slider_block %}
            <div class="slide_item">
                <img src="{{ block.settings.image | img_url: 'master' }}" />
                <p>{{ block.settings.text }}</p>
            </div>
        {% endfor %}
    </div>
</div>
<style>
    .slider__content{width:700px;margin:auto;}
    .slide_item img{width:100%;}
</style>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        $('.slider__content').slick({
          slidesToShow: 1,
          dots: false,
          arrows: true,
          loop:false,
          infinite:false,
          prevArrow: '<div class="slick-prev"><img src="https://cdn.shopify.com/s/files/1/0680/7647/0314/files/Arrow_down_sign_to_navigate_1.png?v=1757337856" width="10px" height="10px"></div>',
          nextArrow: '<div class="slick-next"><img src="https://cdn.shopify.com/s/files/1/0680/7647/0314/files/Arrow_down_sign_to_navigate.png?v=1757337858" width="10px" height="10px"></div>'
        });
    });
</script>
{% schema %}
{
  "name": "Last Coat Banner Slider",
  "settings": [
    {
        "type": "text",
        "id":"heading",
        "label":"Heading"
    }
  ],
  "blocks": [
    {
        "type": "slide",
        "name":"slide",
        "settings": [
            {
                "type": "image_picker",
                "id": "image",
                "label": "Image"
            },
            {
                "type": "text",
                "id":"text",
                "label":"text"
            }
        ]
    }
   ],
  "presets": [
    {
      "name": "Last Coat Banner Slider",
      "category": "page"
    }
  ]
}
{% endschema %}