{%  assign cat_heading = collection.metafields.custom.main_hedaing.value %}
{%  assign cat_subheading = collection.metafields.custom.main_subheading.value %}
<div class="custom_collection_main">
    <div class="collection_header_main">
        <div class="header_main_heading"><h2>{{ cat_heading }}</h2></div>
        <div class="header_main_subheading"><p>{{ cat_subheading }}</p></div>
    </div>
</div>
<style>
    h2, p{margin:0;}
    .custom_collection_main{width:100%;}
    .collection_header_main{background:#B9CBC5;padding:20px}
</style>