
<div class="single-layer-section-main">
    <div class="single-layer">
        <div class="product_listed">

        </div>
        <div class="media_content">
            
        </div>
    </div>
</div>
{% schema %}
    {
        "name":"Filling Gap Section",
        "settings": [
            {
                "type": "text",
                "id": "main_heading",
                "label": "Main Heading"
            },
            {
                "type": "product",
                "id": "add_product",
                "label": "Product"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "Image"
            },
            {
                "type": "text",
                "id": "heading",
                "label": "Image Heading"
            },
            {
                "type": "text",
                "id": "subheading",
                "label": "Subheading"
            }
        ],
         "presets": [
            {
            "name": "Single Layer Section",
            "category": "collection"
            }
        ]
    }
{% endschema %}