
<div class="single-layer-section-main">
    <div class="single-layer">
        <div class="product_listed">
            <h2>{{ section.settings.main_heading }}</h2>
        </div>
        <div class="media_content">
            <div class="media content">
                {% comment %} <img src="{{ section.settings.image | img_url: 'master' }}" /> {% endcomment %}
            </div>
        </div>
    </div>
</div>
<style>
    .product_listed{width:60%;}
    .media_content{width:40%;}
    .product_listed h2{font-size:25px; font-weight:600;text-transform:capitalize;}
{% schema %}
    {
        "name":"Filling Gap Section",
        "settings": [
            {
                "type": "text",
                "id": "main_heading",
                "label": "Main Heading"
            },
            {
                "type": "product",
                "id": "add_product",
                "label": "Product"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "Image"
            },
            {
                "type": "text",
                "id": "heading",
                "label": "Image Heading"
            },
            {
                "type": "text",
                "id": "subheading",
                "label": "Subheading"
            }
        ],
         "presets": [
            {
            "name": "Single Layer Section",
            "category": "collection"
            }
        ]
    }
{% endschema %}