
<div class="stacks-up-table-main">
    {% if section.settings.heading != blank or section.settings.subheading != blank %}
        <div class="stacks-up-header">
            <h2>{{ section.settings.heading }}</h2>
            <p>{{section.settings.subheading }}</p>
        </div>
    {% endif %}
    <div class="table-content">
        {% assign all_cols = section.blocks | where: 'type','column'  %}
        {% assign feature_rows = section.blocks | where: 'type','feature-row'  %}
        {% assign finish_rows = section.blocks | where: 'type','traditional-finish-row'  %}
        {% assign oil_plus_rows = section.blocks | where: 'type','oil-plus-2c-row'  %}
    </div>
</div>
{%schema %}
{
  "name": "Stacks-up Table",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Table Heading",
    },
    {
      "type": "textarea",
      "id": "subheading",
      "label": "Table Subheading",
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "Column",
      "settings": [
        {
          "type": "text",
          "id": "column_title",
          "label": "Column Title"
        }
      ]
    },
    {
      "type": "feature-row",
      "name": "Feature Row",
      "settings": [
        {
          "type": "text",
          "id": "feature_data",
          "label": "Row Data"
        }
      ]
    },
     {
      "type": "traditional-finish-row",
      "name": "Finish Row",
      "settings": [
        {
          "type": "text",
          "id": "finish_data",
          "label": "Row Data"
        }
      ]
    },
    {
      "type": "oil-plus-2c-row",
      "name": "oil Plus 2C Row",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Row Data"
        }
      ]
    }
  ],
  "max_blocks": 50,
  "presets": [
    {
      "name": "Stacks-up Table",
      "category": "Page"
    }
  ]
}
{% endschema %}