<div class="cust-video-bann">
<div class="page-width">
<div class="video-wrap">
{% if section.settings.theme_video != blank %}
  {{ section.settings.theme_video | video_tag: "width: 100%;" }}
{% endif %}

    </div>
    </div>
    </div>
{% schema %}
{
  "name": "Video-Banner",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Popular interior colours"
    },
    {
      "type": "video",
      "id": "theme_video",
      "label": "Video"
    },
   
  ],
 
  "presets": [
    {
      "name": "Video-Banner",
      
    }
  ]
}
{% endschema %}